# ============================================
# Mock STS Environment - Configuration
# ============================================
# copy .env.example .env

# PostgreSQL (same password for both UAT and Master)
POSTGRES_PASSWORD=S@mart@2024
PG_UAT_PORT=5433
PG_MASTER_PORT=5432

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_BIND_IP=0.0.0.0
PGADMIN_EMAIL=admin@yourdomain.com
PGADMIN_PASSWORD=PgAdminSecurePass123!

# Headscale
HS_PORT=8080

# Jenkins
JENKINS_PORT=9090
GITHUB_TOKEN=your_token_here

# Nginx
MASTER_HTTP_PORT=82
