# ============================================
# Mock STS Environment - Configuration
# ============================================
# copy .env.example .env

# Headscale
HS_PORT=8080

# Jenkins
JENKINS_PORT=9090
GITHUB_TOKEN=your_token_here

# Nginx
MASTER_HTTP_PORT=82
