# Headscale data
/headscale/data/
*.sqlite

# pgAdmin password file
/pgadmin/pgpass

# OS & Environment
.env
.DS_Store
Thumbs.db

# Jenkins cloned repos (ignore all service repo dirs)
/STS-*/
/SCS-*/
/sts-portal/

# Persistent data directories
/data/
/backups/
/prometheus/data/
/.kilo
/.kilo
/.kilo
