# Headscale data
/headscale/data/
*.sqlite

# OS & Environment
.env
.DS_Store
Thumbs.db

# Jenkins cloned repos (ignore all service repo dirs)
/STS-*/
/SCS-*/
/sts-portal/

# Persistent data directories
/data/
/prometheus/data/
